@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

:root{
    --color-black: #000;
    --color-white:#fff;
    --color-grey: #666666;
    --color-orange: #CC9933;
    --color-h-footer: #333333;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Muller';
  }

body{
    background: #E5E5E5;
    margin: 0;
}

a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn{
    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: linear;
    
}

.btn:hover{
    background-color: var(--color-orange);
    color: var(--color-white);
}

/*header*/
header{
    margin-top: 30px;
}

.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.header-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
}

.header-left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-right{
    margin-left: 15px;
}

@media (max-width: 633px){
    .header-right{
        margin-top: 15px;
    }
}

.header-phone{
    margin-left: 34px;
}

@media (max-width: 466px){
    .header-phone{
        margin-left: 15px;
    }  
}

@media (max-width: 447px){
    .header-phone{
        margin-top: 15px;
        margin-left: 15px;
    }  
}

.header-phone-nomer{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-grey);
}

.phone-nomer:hover{
    color: var(--color-grey);
    text-decoration: underline;
    text-underline-offset: 3px; /* Смещаем подчёркивание вниз */
    text-decoration-thickness: 3px; /* Толщина подчёркивания */
}

.kabinet-link{
    background: url('../img/keyboard_tab.svg') no-repeat 0;
    background-position: bottom -2px left 0px;
    padding-left: 27px;
    color: var(--color-orange);
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

.kabinet-link:hover{
    color: var(--color-orange);
    text-decoration: underline;
    text-underline-offset: 3px; /* Смещаем подчёркивание вниз */
    text-decoration-thickness: 3px; /* Толщина подчёркивания */
}

.nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: var(--color-white);
    border-radius: 15px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
}

.nav-item{
    margin: 27px 0 27px 45px;
}

.nav-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-grey);;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.nav-link:hover{
    color:#F0BF5F;
}

.btn-list{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1091px){
    .btn-list{
       margin-left: 40px;
    }  
}

.btn-head{
    display: inline-block;
    padding: 13px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid var(--color-orange);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-orange);   
}

.btn-head:first-child{ /*только первый элемент*/
    margin-right: 40px;
}


/*spec*/
.section-spec{
    margin-top: 70px;
}

.section-spec h1{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-h-footer);
}

.spec-cards{
    display: flex;
    flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
    margin: 0 -12px;
}

.spec-card-block{
    flex: 0 0 47.99%;
    margin: 0 12px;
}

.spec-left{
    min-width: 337px;
    min-height: 258px;
    border-radius: 15px;
}

.spec-left-1{
    min-height: 258px;
    background-image: url('../img/spec-1.jpg');
    background-repeat: no-repeat;
}

.spec-left-2{
    min-height: 258px;
    margin: 24px 0 24px 0;
    background-image: url('../img/spec-2.jpg');
    background-repeat: no-repeat;
}

.spec-right {
    min-height: 564px;
    background-image: url('../img/spec-3.png');
    background-repeat: no-repeat;
    border-radius: 15px;
}

.spec-title{
    padding-top: 40px;
    margin-left: 45px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-white);;
}

.spec-title-2{
    padding-top: 212px;
    margin-left: 45px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--color-white);
}

.spec-price{
    padding-top: 15px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-white);
    opacity: 0.8;
}

.spec-price-2{
    padding-top: 15px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: var(--color-white);
    opacity: 0.8;
}

.spec-link-block{
    margin-top: 8%;
    margin-left: 45px;
}

.spec-link{
    background: url(../img/spec-link-icon.svg) no-repeat 100%;
    padding-right: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    transition-property: padding-right;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.spec-link:hover{
    padding-right: 17px;
}

/*о нас*/
.section-onas{
    margin-top: 48px;
}

.section-onas h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-h-footer);
}

.section-onas p{
    margin: 0;
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

/*услуги*/
.section-uslugi {
    margin-top: 70px;
}

.section-uslugi h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-h-footer);
}

.uslugi-list{
    display: flex;
    flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
    margin: -12px;
}

.uslugi-item{
    flex: 0 0 47.99%;
    margin: 12px;
    min-height: 330px;
    border-radius: 15px;
    background-color: var(--color-white);
}

/*.uslugi-item:not(:nth-last-child(-n+2)){
    margin-bottom: 24px;
}*/

.uslugi-item-img{
    border-radius: 15px 15px 0 0;
    margin-bottom: 26px;
}

.uslugi-link{
    background: url(../img/uslugi-link-icon.svg) no-repeat 100%;
    padding-right: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%; 
    color: var(--color-orange);
    margin-left: 45px;
    transition-property: padding-right;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.uslugi-link:hover{
    padding-right: 17px;
}

.section-uslugi p{
    margin: 0 0 0 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

/*Преимущества*/
.section-plusi{
    margin-top: 70px;
}

.section-plusi h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-h-footer);
}

.plus-list{
    display: flex;
	flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
    margin: -11px;
}

.plus-block{ 
    flex: 0 0 23.15%;
    min-width: 276px;
	min-height: 276px;
    background-color: var(--color-white);
    border-radius: 15px;
    margin: 11px
}

.plus-icon{
    margin: 40px 0 0 45px;
}

.plus-block p{
    margin: 12px 42px 32px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

/*Размещение*/
.section-razme{
    margin-top: 48px;
}

.section-razme h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-h-footer);
}

.razme-list{
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
}

.razme-block{
    flex: 0 0 31.32%;
    margin: 12px;
    min-height: 440px;
    background-color: var(--color-white);
    border-radius: 15px;
}

.razme-img{
    border-radius: 15px 15px 0 0;
    margin-bottom: 20px;
}

.razme-block-end{
    min-width: 374px;
    position: relative; /*для before*/
    background-image: url(../img/razme-9.jpg);
}

.razme-block-link-end{
    
    padding-top: 373px;
    padding-left: 54px;
    
}

.razme-link-end{
    background: url('../img/razme-link-icon.svg') no-repeat 100%;
    padding-right: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--color-white);
    transition-property: padding-right;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.razme-link-end:before { /*чтобы ссылка растянулась на весть блок*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.razme-link-end:hover{
    padding-right: 18px;
    color: var(--color-white);
    text-decoration: underline;
    text-underline-offset: 3px; /* Смещаем подчёркивание вниз */
    text-decoration-thickness: 2px; /* Толщина подчёркивания */
}

.razme-text{
    margin-left: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.razme-text-price{
    margin-right: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-black);
}

.razme-text-time{
    margin-right: 52px;
    color: var(--color-black);
}

.razme-text-2{
    margin-left: 45px;
    color: var(--color-black);
}

.razme-btn{
    margin-left: 45px;
    margin-top: 33px;
}

.razme-btn-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-orange);
    padding: 13px 20px;
    border: 1px solid var(--color-orange);
    border-radius: 10px;
}

.razme-star-1{
    margin-left: 3px;
    display: inline-block;
    min-width: 14px;
    min-height: 14px;
    background: url('/img/star-1.svg') no-repeat;
}

.razme-star-2{
    margin-left: 5px;
    display: inline-block;
    min-width: 14px;
    min-height: 14px;
    background: url('/img/star-2.svg') no-repeat;
}

/*Form*/
.section-form{
    margin-top: 70px;
}

.section-form h2{
    margin: 0 0 20px 40px;
    padding-top: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-black);
}

.container-form{
    background-color: #E9E9E9;
    padding-bottom: 45px;
    border-radius: 15px;
}

.form{
    background-color: var(--color-white);
    border-radius: 15px;
    margin: 0 45px 0 45px;
    
}

.form-spisok{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 28px;
    margin-right: 28px;
}

.form-label{
    margin-top: 31px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-black);
}

.form-input{
    margin-bottom: 32px;
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);
}

.section-form select{
    width: 169px;
    margin-left: -4px;
}

.section-form input{
    width: 121px;
    margin-left: -2px;
}

.form-btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-orange);
    background-color: var(--color-white);
    padding: 13px 30px;
    border: 1px solid var(--color-orange);
    border-radius: 10px;
    cursor: pointer;
}

/*Contacts*/
.section-contacts h2{
    margin: 0 0 20px 40px;
    padding-top: 70px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-black);
}

.contacts-block{
    display: flex;
    min-height: 610px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color-white);
    border-radius: 15px;
}

.contacts-block-right{
    margin: 45px 45px 45px 52px;
}

.contacts-img{
    width: 100%;
    height: 100%;
}

.contacts-block-left{
    margin: 20px 0 0 45px;
    width: 375px;
}

.contacts-spisok-punkt{
    padding: 25px 0 23px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;
}

.contacts-spisok-punkt p{
    margin: 0;
}

.contacts-spisok-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-black);
}

.contacts-spisok-right{
    min-width: 225px;
}

.contacts-spisok-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-orange);
}

.contacts-spisok-link:hover{
    color: var(--color-orange);
    text-decoration: underline;
    text-underline-offset: 3px; /* Смещаем подчёркивание вниз */
    text-decoration-thickness: 2px; /* Толщина подчёркивания */
}

.contacts-spisok-mail-des{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}

.contacts-spisok-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
}

.contacts-btn{
    margin-top: 72px;
}

.contacts-btn-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-orange);
    background-color: var(--color-white);
    padding: 27px 30px;
    border: 1px solid var(--color-orange);
    border-radius: 10px;
}

/*footer*/
.footer{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 30px 0;
    background-color: var(--color-h-footer);
    border-radius: 15px;
    min-height: 341px;
}

.footer-left{
    margin-right: 80px;
}

.footer-left-copy{
    padding: 45px 0 0 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: var(--color-white);
}

.footer-left-des{
    margin: 37px 0 0 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: var(--color-white);
}

.footer-link{
    margin: 40px 0 0 45px;
    
}

.footer-link-a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-orange);
}

.footer-link-a:hover{
    color: var(--color-orange);
    text-decoration: underline;
    text-underline-offset: 3px; /* Смещаем подчёркивание вниз */
    text-decoration-thickness: 2px; /* Толщина подчёркивания */
}

.footer-right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-position: 65% 100%; 
}

.footer-right-left{
    margin-right: 225px;
}

.footer-adres{
    margin-top: 45px;
    margin-left: 45px;
    
}

.footer-adres address{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-white);
}

.footer-tel{
    margin-top: 15px;
    margin-left: 45px;
}

.footer-tel-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-orange);
}

.footer-tel-link:hover{
    color: var(--color-orange);
    text-decoration: underline;
    text-underline-offset: 3px; /* Смещаем подчёркивание вниз */
    text-decoration-thickness: 2px; /* Толщина подчёркивания */
}

.footer-mail{
    margin-top: 15px;
    margin-left: 45px;
}

.footer-mail-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-orange);
}

.footer-mail-link:hover{
    color: var(--color-orange);
    text-decoration: underline;
    text-underline-offset: 3px; /* Смещаем подчёркивание вниз */
    text-decoration-thickness: 2px; /* Толщина подчёркивания */
}

.footer-right-right{
    margin-top: 45px;
    margin-left: 45px;
}

.footer-right-icon{
    margin-bottom: 20px;
}
