@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Muller';
  }

body{
    background: #E5E5E5;
    margin: 0;
}

a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*header*/
header{
    margin-top: 30px;
}

.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
    min-width: 575px; 
}

.header-left{
    display: flex;
    align-items: center;
}

.phone-nomer{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    padding-left: 34px;
}

.kabinet-link{
    background: url('../img/keyboard_tab.svg') no-repeat 0;
    background-position: bottom -2px left 0px;
    padding-left: 27px;
    color: #CC9933;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

.nav{
    min-width: 573px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between; /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
    align-items: center;
    background: #FFFFFF;
    border-radius: 15px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
}

.nav-item{
    margin: 27px 0 27px 45px;
}

.nav-item:last-of-type{
    margin-right: 114px; 
}

.nav-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.btn-list{
    display: flex;
    flex-wrap: wrap;
}

.btn-head{
    display: inline-block;
    padding: 13px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    
}

.btn-head {
    margin-right: 40px;
}

/*spec*/
.section-spec{
    margin-top: 70px;
}

.section-spec h1{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.spec-cards{
    display: flex;
    flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
    justify-content: space-between; /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
}

.spec-left{
    min-width: 573px;
    min-height: 258px;
    border-radius: 15px;
    margin-bottom: 24px;
}

.spec-left-1{
    background-image: url('../img/spec-1.jpg');
    background-repeat: no-repeat;
}

.spec-left-2{
    background-image: url('../img/spec-2.jpg');
    background-repeat: no-repeat;
}

.spec-right {
    min-height: 540px;
    min-width: 573px;
    margin-bottom: 24px;
    background-image: url('../img/spec-3.png');
    background-repeat: no-repeat;
    border-radius: 15px;
}

.spec-title{
    padding-top: 40px;
    margin-left: 45px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.spec-title-2{
    padding-top: 212px;
    margin-left: 45px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.spec-price{
    padding-top: 15px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.spec-price-2{
    padding-top: 15px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}

.spec-link-block{
    margin-top: 47px;
    margin-left: 45px;
}

.spec-link{
    background: url(../img/spec-link-icon.svg) no-repeat 100%;
    padding-right: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
}

/*о нас*/
.section-onas{
    margin-top: 46px;
}

.section-onas h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.section-onas p{
    margin: 0;
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000;
}

/*услуги*/
.section-uslugi {
    margin-top: 70px;
}

.section-uslugi h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.uslugi-list{
    display: flex;
    flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
    flex-direction: row; /* Направление, в котором блоки будут располагаться в строку */
    justify-content: space-between; /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
    height: 100%;
    width: 100%;
    margin: auto;
}

.uslugi-item{
    margin-bottom: 24px;
    width: 573px;
    height: 330px;
    border-radius: 15px;
    background-color: #fff;
}

/*.uslugi-item:not(:nth-last-child(-n+2)){
    margin-bottom: 24px;
}*/

.uslugi-item-img{
    border-radius: 15px 15px 0 0;
    margin-bottom: 26px;
}

.uslugi-link{
    background: url(../img/uslugi-link-icon.svg) no-repeat 100%;
    padding-right: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%; 
    color: #CC9933;
    margin-left: 45px;
}

.section-uslugi p{
    margin: 0 0 0 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color:#000
}

/*Преимущества*/
.section-plusi{
    margin-top: 46px;
}

.section-plusi h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.plus-list{
    display: inline-block;
}

.plus-list{
    display: flex;
	flex-wrap: wrap; /*Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
	flex-direction: row; /* Направление, в котором блоки будут располагаться в строку */
	justify-content: space-between; /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
	height: 100%;
	width: 100%;
	margin: auto;
}

.plus-block{
    margin-bottom: 22px;
    width: 276px;
	height: 276px;
    background-color: #fff;
    border-radius: 15px;
}

/*.plus-block:not(:nth-last-child(-n+4)){
    margin-bottom: 22px;
}*/

.plus-icon{
    margin: 40px 0 0 45px;
}

.plus-block p{
    margin: 12px 42px 32px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/*Размещение*/
.section-razme{
    margin-top: 46px;
}

.section-razme h2{
    margin: 0 0 20px 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.razme-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: auto;
}

.razme-block{
    margin-bottom: 24px;
    width: 374px;
    height: 440px;
    background-color: #fff;
    border-radius: 15px;
}

.razme-img{
    border-radius: 15px 15px 0 0;
    margin-bottom: 20px;
}

.razme-block-end{
    background-image: url(../img/razme-9.jpg);
}

.razme-block-link-end{
    padding-top: 373px;
    padding-left: 54px;
    
}

.razme-link-end{
    background: url('../img/razme-link-icon.svg') no-repeat 100%;
    padding-right: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
}

.razme-text{
    margin-left: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.razme-text-price{
    margin-right: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.razme-text-time{
    margin-right: 52px;
    color: #000000;
}

.razme-text-2{
    margin-left: 45px;
    color: #000000;
}

.razme-btn{
    margin-left: 45px;
    margin-top: 33px;
}

.razme-btn-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.razme-star-1{
    margin-left: 3px;
    display: inline-block;
    min-width: 14px;
    min-height: 14px;
    background: url('/img/star-1.svg') no-repeat;
}

.razme-star-2{
    margin-left: 5px;
    display: inline-block;
    min-width: 14px;
    min-height: 14px;
    background: url('/img/star-2.svg') no-repeat;
}

/*Form*/
.section-form{
    margin-top: 46px;
}

.section-form h2{
    margin: 0 0 20px 40px;
    padding-top: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000;
}

.container-form{
    background-color: #E9E9E9;
    min-height: 256px;
    border-radius: 15px;
}

.form{
    background-color: #fff;
    border-radius: 15px;
    margin: 0 45px 45px 45px;
    
}

.form-spisok{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 28px;
    margin-right: 28px;
}

.form-label{
    margin-top: 31px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000;
}

.form-input{
    margin-bottom: 32px;
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000;
}

.section-form select{
    width: 169px;
    margin-left: -4px;
}

.section-form input{
    width: 121px;
    margin-left: -2px;
}

.form-btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-color: #fff;
    padding: 13px 30px;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

/*Contacts*/
.section-contacts h2{
    margin: 0 0 20px 40px;
    padding-top: 70px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000;
}

.contacts-block{
    display: flex;
    min-height: 610px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 15px;
}

.contacts-block-right{
    margin: 45px 45px 45px 52px;
}

.contacts-img{
    width: 100%;
    height: 100%;
}

.contacts-block-left{
    margin: 20px 0 0 45px;
    width: 375px;
}

.contacts-spisok-punkt{
    padding: 25px 0 23px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;
}

.contacts-spisok-punkt p{
    margin: 0;
}

.contacts-spisok-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.contacts-spisok-right{
    min-width: 225px;
}

.contacts-spisok-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.contacts-spisok-mail-des{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}

.contacts-spisok-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.contacts-btn{
    margin-top: 72px;
}

.contacts-btn-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-color: #fff;
    padding: 27px 30px;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

/*footer*/
.footer{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 30px 0;
    background-color: #333;
    border-radius: 15px;
    min-height: 341px;
}

.footer-left{
    margin-right: 80px;
}

.footer-left-copy{
    padding: 45px 0 0 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.footer-left-des{
    margin: 37px 0 0 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.footer-link{
    margin: 40px 0 0 45px;
    
}

.footer-link-a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.footer-right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-position: 65% 100%; 
}

.footer-right-left{
    margin-right: 225px;
}

.footer-adres{
    margin-top: 45px;
    margin-left: 45px;
    
}

.footer-adres address{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-tel{
    margin-top: 15px;
    margin-left: 45px;
}

.footer-tel-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.footer-mail{
    margin-top: 15px;
    margin-left: 45px;
}

.footer-mail-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.footer-right-right{
    margin-top: 45px;
    margin-left: 45px;
}

.footer-right-icon{
    margin-bottom: 20px;
}
